@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
    background-image: linear-gradient(#a7d7c5, #f2994a);
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;
}
#main {
    background-color: white;
    display: inline-block;
    position: relative;
    top: 30vh;
    left: 20vw;
    height: 40vh;
    width: 35vw;

    padding: 20px 40px 0px 35px;
    
}
h1 {
    color: #008B8B;
}
h2 {
    color: #a1d700;
}
#main > p {
    color: grey;

}
.monthlysub {
    position: absolute;
    background-color: #008B8B;
    left: 0;
    display: inline-block;
    color: white;
    padding: 20px 15px 10px 35px;
    height: 50%;
    width: 45%;
    
}
#whyus {
    position: absolute;
    background-color: #0bb;
    right: 0;
    display: inline-block;
    color: white;
    padding: 20px 15px 10px 35px;
    height: 50%;
    width: 46%;
    line-height: 1.2
    
}
#signup {
    background-color: #a1d700;
    display: inline-block;
    text-align: center;
    padding: 20px 105px 20px 105px;
    border-radius: 4%;

}
b {
    font-size: 30px;
}
